* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --board-border-color: rgb(128, 124, 218);
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: monospace;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  width: clamp(250px, calc(100vw - 20px), 400px);
  height: clamp(250px, calc(100vw - 20px), 400px);
  margin: 0 auto;
}

.gameboard .letter-coords,
.gameboard .number-coords {
  display: grid;
  place-items: center;
  font-size: 0.7rem;
}

.gameboard .letter-coords {
  grid-auto-flow: column;
  grid-column-start: 2;
  grid-column-end: -1;
  border-bottom: 1px solid var(--board-border-color);
}

.gameboard .number-coords {
  grid-row-start: 2;
  grid-row-end: span 10;
  border-right: 1px solid var(--board-border-color);
}

.gameboard .cell {
  border-bottom: 1px solid var(--board-border-color);
  border-right: 1px solid var(--board-border-color);
}

.gameboard .cell.ship {
  background-color: rgb(168, 197, 217);
}

.gameboard .cell.missed-shot {
  background-color: gray;
}

.gameboard .cell.hit-ship {
  background-color: rgb(246, 39, 39);
}