* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --board-border-color: rgb(166, 184, 216);
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.gameboard {
  display: grid;
  position: relative;
  grid-template-columns: repeat(11, 1fr);
  width: clamp(200px, calc(100vw - 55px), 400px);
  height: clamp(200px, calc(100vw - 55px), 400px);
  margin: 0 auto;
}

.gameboard .letter-coords,
.gameboard .number-coords {
  display: grid;
  place-items: center;
  font-size: clamp(8px, 2vw, 11px);
}

.gameboard .letter-coords {
  grid-auto-flow: column;
  grid-column-start: 2;
  grid-column-end: -1;
}

.gameboard .number-coords {
  grid-row-start: 2;
  grid-row-end: span 10;
}

.gameboard .cell {
  position: relative;
  outline: 1px solid var(--board-border-color);
  background-color: white;
}

.gameboard .cell.missed-shot::after {
  content: '';
  z-index: 2;
  position: absolute;
  width: 30%;
  height: 30%;
  background-color: gray;
  border-radius: 50%;
  top: 35%;
  left: 35%;
}

.gameboard.enemy .play-button {
  position: absolute;
  padding: 2% 6%;
  top: 35%;
  left: 15%;
  border-radius: 5px;
  font-size: clamp(16px, 2vw, 20px);
  letter-spacing: .5px;
  border: none;
  background-image: linear-gradient(rgb(225, 240, 253), rgb(123, 187, 255));
  box-shadow: 2px 2px 6px 1px rgb(149, 149, 149);
}

.gameboard.enemy .play-button {
  cursor: pointer;
}

.gameboard.enemy .cell.sunk {
  outline: 3px solid rgb(255, 0, 0);
  outline-offset: -2px;
  z-index: 1;
}

.gameboard.enemy .cell.empty:hover {
  outline: 3px solid green;
  outline-offset: -2px;
  z-index: 2;
}

.gameboard.enemy .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.672);
}

.gameboard .cell.occupied.hit::after,
.gameboard .cell.occupied.hit::before {
  content: '';
  z-index: 2;
  position: absolute;
  width: 10%;
  height: 70%;
  border-radius: 5px;
  font-size: 160%;
  background-color: rgb(255, 0, 0);
  top: 15%;
  left: 45%;
}

.gameboard .cell.occupied.hit::after {
  transform: rotate(45deg);
}

.gameboard .cell.occupied.hit::before {
  transform: rotate(-45deg);
}

.gameboard .ship {
  touch-action: none;
  z-index: 5;
  position: absolute;
  background-color: rgba(152, 152, 252, 0.179);
  border: 2px solid #00f;
}

.gameboard .ship.dragging {
  border-color: rgb(96, 96, 96);
}

.gameboard .ship.horizontal {
  height: calc(100% - 3px);
}

.gameboard .ship.vertical {
  width: calc(100% - 3px);
}

.gameboard .ship.shake {
  animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  border-color: rgb(208, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}